{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <main class="blog single">
    <article>
      <h2>{{ .Title }}</h2>
      <time>{{ .Date.Format "Mon Jan 2, 2006" }}</time>
      <section class="content">
        {{ .Content }}
      </section>
    </article>
    <section class="meta">
      <div class="tags">
        {{ with .Params.tags }}
          <ul>
            {{ range . }}
              <li><a href="{{ "tags" | absURL }}/{{ . | urlize }}" rel="internal">{{ . }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
      <div class="nav">
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}" rel="internal">&lt; {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}" rel="internal">{{.Title}} &gt;</a>
        {{ end }}
      </div>
    </section>
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
      <section class="related">
        <h4 class="well well-sm">Related articles</h4>
        <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </section>
    {{ end }}
  </main>
{{ end }}
